In [111]:
import pandas as pd
df = pd.read_csv("athlete_events.csv")

In [112]:
region = pd.read_csv("noc_regions.csv")

In [113]:
df = df[df['Season']=='Summer']

In [115]:
df = df.merge(region, on='NOC', how='left')

In [117]:
new_df = pd.concat([df,pd.get_dummies(df['Medal'])],axis=1)

In [118]:
new_df = new_df.drop_duplicates()

In [120]:
new_df.drop(columns=['Height','Weight'],inplace=True)

In [94]:
new_df.to_csv("final_csv",index=False)

In [122]:
new_df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Team', 'NOC', 'Games', 'Year', 'Season',
       'City', 'Sport', 'Event', 'Medal', 'region', 'notes', 'Bronze', 'Gold',
       'Silver'],
      dtype='object')

In [123]:
def data_over_time(df,col):

    nations_over_time = df.drop_duplicates(['Year', col])['Year'].value_counts().reset_index().sort_values('index')
    nations_over_time.rename(columns={'index': 'Edition', 'Year': col}, inplace=True)
    return nations_over_time

In [124]:
x = data_over_time(new_df,'Name')

In [125]:
x

    Edition   Name
28     1896    176
25     1900   1220
27     1904    650
26     1906    841
23     1908   2024
22     1912   2409
21     1920   2675
19     1924   3256
20     1928   3246
24     1932   1922
16     1936   4482
17     1948   4402
15     1952   4931
18     1956   3346
12     1960   5348
14     1964   5134
11     1968   5552
8      1972   7105
10     1976   6070
13     1980   5252
9      1984   6791
7      1988   8443
6      1992   9380
5      1996  10324
2      2000  10639
3      2004  10537
1      2008  10880
4      2012  10502
0      2016  11174